<!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021-present.</strong>
    All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/club/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/club/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/club/assets/plugins/adminlte/js/adminlte.js"></script>

<script src="/club/assets/plugins/moment/moment.min.js"></script>

<script src="/club/assets/plugins/qrcode/qrcode.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/club/assets/plugins/chart.js/Chart.min.js"></script>
</body>
</html>