<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>CLUB</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/club/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/club/assets/plugins/adminlte/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>C</b>LUB
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
          <div class="input-group mb-3">
            <input type="text" id="username" class="form-control" placeholder="Username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="message" style="color: red"></div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="button" onclick="javascript:login()" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</body>
</html>

<!-- jQuery -->
<script src="/club/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/club/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/club/assets/plugins/adminlte/js/adminlte.js"></script>

<script src="/club/assets/plugins/moment/moment.min.js"></script>

<script type="text/javascript">
  async function login()
  {
    $("#message").html("");
    
    try
    {
      var payload = { "uname": $("#username").val(), "password": $("#password").val() };

      var config =
      {
        method: 'POST',
        model: 'cors',
        body: JSON.stringify(payload),
        headers: {
          'Content-Type': 'application/json'
        }
      }

      var response = await fetch('/club/api/token', config);
      var result = await response.json();

      console.log(result)

      if (result.auth)
      {
        window.location = "/club/";
        return result.token;
      }
      else
      {
        throw "Auth failed."
      }
    }
    catch (err)
    {
      //throw "Error when calling apikey verification API."
      $("#message").html("Login failed")
    }
  }
</script>
